
/*COLOURS*/

/*---painting "Headlight" Colours:------------*/

$offWhite: #f1ebde;
$darkRedBrown: #2d1a22;
$bgDirtyOchre: #c8a668;
$duskyBlue: #6daab6;
$paleViolet:#9382a3;
$paleViolet2: #8a748b;
$aqua: #b0cac4;
$blue: #00568e;
$darkPhtaloGreen: #314e56;
$skinPink: #f3dad3;
$duskyCoral: #bf6d71;
$orange: #f3a172;
$lightRed: #d38696;

/*---main colours:------------*/
$mainPetrolBlue: #003f5c;
$mainDarkViolet: #482c63;
$secondYellow: #e9ea77; 
$secondCoral: #bc4974;


/*FONTS
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Sacramento', cursive;
*/