/*----GENERAL INFO-------
--------------class with dot, id with hashtag-------- element can have more than one class at the same time----
---use id selectors sparingly or not at all--------*/
/*----QUESTIONS-----------------
---- Hoe overlappen margins elkaar? ---------------------
*/
/*COLOURS*/
/*---painting "Headlight" Colours:------------*/
/*---main colours:------------*/
/*FONTS
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Sacramento', cursive;
*/
/*voor herhalingen, gebruik ook %extend */
iframe {
  border: 5px double #003f5c;
}

iframe:hover {
  border-style: none;
  margin: 5px;
  /*border en border-none moeten elkaar compenseren of ze veranderen van plaats*/
}

td {
  padding: 2em;
}

form {
  color: #314e56;
}

input {
  color: #314e56;
}

hr {
  /* BEST PRACTICE all the styles in one element in alphabetical order*/
  border-color: #c8a668;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;
  /*breedte van de lijn over de pagina*/
  height: 5px;
  /* height: 2px; gekleurde solid lijn hr zonder style is niet zichtbaar als hoogte nul is*/
  /* background-color: $bgDirtyOchre; kleur vd solid lijn, onder border*/
}

/* structuur zit fout, moet omgekeerd, "general" invoeren in andere pagina's---of met enkel id en class werken-----of @extend-----------*/
body.codepage {
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 30px;
  font-family: 'Sacramento', cursive;
  font-size: 5em;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 20%;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 350px;
  bottom: 300px;
}

.profile img {
  width: 200px;
  height: auto;
  border-radius: 50%;
}

.skill-row img {
  width: 200px;
  border-radius: 50%;
}

/*-------------TAG SELECTORS----------------*/
body {
  margin: 0;
  /*default "user agent stylesheet" is 8px margin */
}

h1 {
  margin-top: 0;
  color: #314e56;
}

a {
  text-decoration: none;
  color: #bc4974;
}

ul {
  list-style: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

/*------------DARK PAGES----------LIGHT FONTS----------------------*/
p {
  color: #314e56;
}

/*------------LIGHT PAGES----------DARK FONTS----------------------*/
.dark p {
  color: #e9ea77;
}

div {
  background-color: gray;
}

/*-------------CLASS SELECTORS----------------*/
/*--------------------BACKGROUND COLOR FOR EACH PAGE----------------------*/
.home {
  background-color: #f3dad3;
}

.about {
  background-color: #f3a172;
}

.contact {
  background-color: #f1ebde;
}

.artpage {
  background-color: #482c63;
}

.codepage {
  background-color: #003f5c;
}

/*-------------------------------------------------------------------------*/
.headingart {
  color: #bc4974;
}

/* komt van de index-pagina*/
.main-container {
  background-color: #003f5c;
  margin: 50px;
  padding: 20px;
}

/*-------------ID SELECTORS----------------*/
/*# sourceMappingURL=styles.css.map */