@charset "UTF-8";
/*----GENERAL INFO-------
--------------class with dot, id with hashtag-------- element can have more than one class at the same time----
---use id selectors sparingly or not at all--------*/
/*----QUESTIONS-----------------
---- Hoe overlappen margins elkaar? ---------------------
*/
/*COLOURS*/
/*---painting "Headlight" Colours:------------*/
/*---main colours:------------*/
/*FONTS
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Sacramento', cursive;
*/
/*voor herhalingen, gebruik ook %extend */
iframe {
  border: 5px double #003f5c;
}

iframe:hover {
  border-style: none;
  margin: 5px;
  /*border en border-none moeten elkaar compenseren of ze veranderen van plaats*/
}

td {
  padding: 2em;
}

form {
  color: #314e56;
}

input {
  color: #314e56;
}

hr {
  /* BEST PRACTICE all the styles in one element in alphabetical order*/
  border-color: #c8a668;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;
  /*breedte van de lijn over de pagina*/
  height: 5px;
  /* height: 2px; gekleurde solid lijn hr zonder style is niet zichtbaar als hoogte nul is*/
  /* background-color: $bgDirtyOchre; kleur vd solid lijn, onder border*/
}

/* structuur zit fout, moet omgekeerd, "general" invoeren in andere pagina's---of met enkel id en class werken-----of @extend-----------*/
body.codepage {
  text-align: center;
  font-family: 'Merriweather', serif;
  position: relative;
}

.codeNav {
  text-align: right;
  margin: 30px;
  padding: 0 auto;
  color: #bf6d71;
}

h1#codeH {
  margin: 30px auto 0px auto;
  /*margin-top: 0;
    margin-bottom: 30px;
    padding-top: 30px;*/
  font-family: 'Sacramento', cursive;
  font-size: 5.5em;
  /* is ongeveer  = 90px  ------ 100% = 16px = 1 (r)em--- 90px = 562% ---alleen rem is onafhankelijk v parent én accessible-*/
  color: #bc4974;
}

h2 {
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  color: #bc4974;
}

.intro {
  width: 30%;
  margin: 0 auto;
}

p.obvious {
  color: #e9ea77;
}

p {
  color: #c8a668;
  line-height: 2;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.top-container {
  position: relative;
  background-color: #314e56;
  /*de rest vd div is nog grijs*/
}

.top-cloud {
  position: absolute;
  right: 20%;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 350px;
  bottom: 300px;
}

div.profile {
  padding: 100px auto;
  /*dit wordt overschreven door iets*/
  margin-bottom: 150px;
}

.profile img {
  width: 200px;
  height: auto;
  border-radius: 50%;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.kitty1 {
  width: 25%;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

.kitty2 {
  width: 25%;
  /*scales de twee prentjes even groot, nl 25% tov de parent, zelfs als ze eerst verschillende groottes hadden*/
  border-radius: 50%;
  float: right;
  margin-left: 30px;
}

/*PROBLEMEN MET DEER-VIDEO----- h3 duwt met margin de div/tekst eronder naar beneden, de video lijkt uit de flow te zijn, de marge van h3 zit niet in de parent div inbegrepen*/
/*overschrijft skill-row margin */
.skill-row.deer {
  margin-bottom: 100px;
}

#deerh3 {
  display: inline-block;
  margin-top: 0;
  padding-right: 0;
  margin-bottom: 250px;
  padding-left: 30px;
}

.deervideo {
  width: 25%;
  height: auto;
  float: left;
}

/*class codepage op body is petrolblauw in styles.css*/
.middle-container {
  background-color: #314e56;
  /*div 'profile' die IN div 'middle-container zit is nog altijd grijs, neemt kleur v styles.css*/
  margin-top: 150px;
}

.bottom-container {
  margin-top: 100px;
  background-color: #003f5c;
  padding: 50px 0 20px;
}

/*PADDING -----verwar 0 niet met 'auto'-----------!!!!!!!!!!!!!!!*/
a.btn {
  background: #11CDD4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#11CDD4), to(#11999E));
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  border-radius: 8px;
  color: #f7eed6;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 100;
  padding: 18px;
  /*box-shadow: 1px 1px 20px 0px #000000;
    -webkit-box-shadow: 1px 1px 20px 0px #000000;
    -moz-box-shadow: 1px 1px 20px 0px #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 0px;*/
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-top: 15px;
}

a.btn:hover {
  color: #f7eed6;
  /*dit hier herhalen want anders overschrijft de andere a:hover de kleur*/
  border: solid #337FED 0px;
  background: #30E3CB;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#30E3CB), to(#2CB4AD));
  background-image: linear-gradient(to bottom, #30E3CB, #2CB4AD);
  border-radius: 8px;
  text-decoration: none;
}

a {
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
}

a:hover {
  color: #e690af;
}

.copy {
  font-size: 0.75rem;
}

/*-------------TAG SELECTORS----------------*/
body {
  margin: 0;
  /*default "user agent stylesheet" is 8px margin */
}

a {
  text-decoration: none;
  color: #bc4974;
}

ul {
  list-style: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

/*------------LIGHT PAGES-----DARK FONTS----------------------*/
/*p {
    color: $darkPhtaloGreen;
}*/
/*------------DARK PAGES-----LIGHT FONTS----------------------*/
/*
.dark p {
    color: $secondYellow;
}
*/
/*--------------------BACKGROUND COLOR FOR EACH PAGE----------------------*/
.home {
  background-color: #f3dad3;
}

.about {
  background-color: #f3a172;
}

.contact {
  background-color: #f1ebde;
}

.artpage {
  background-color: #482c63;
}

.codepage.dark {
  background-color: #314e56;
}

/*-------------------------------------------------------------------------*/
/*-------------TAG SELECTORS----------------*/
h1 {
  margin-top: 0;
  color: #314e56;
}

/*
div {
    background-color: gray;
}
*/
/*-------------CLASS SELECTORS----------------*/
.headingart {
  color: #bc4974;
}

/* komt van de index-pagina*/
.main-container {
  background-color: #003f5c;
  margin: 50px;
  padding: 20px;
}

/*-------------ID SELECTORS----------------*/
/*# sourceMappingURL=styles.css.map */