/*----GENERAL INFO-------
--------------class with dot, id with hashtag-------- element can have more than one class at the same time----
---use id selectors sparingly or not at all--------*/

/*----QUESTIONS-----------------
---- Hoe overlappen margins elkaar? ---------------------
*/


@import 'partial';
@import 'onlyIndex';
@import 'onlyContact';
@import 'onlyCodepage';


/*-------------TAG SELECTORS----------------*/
body {
    margin: 0; /*default "user agent stylesheet" is 8px margin */
}

h1 {
    margin-top: 0;
    color: $darkPhtaloGreen;
}

a {
    text-decoration: none;
    color: $secondCoral;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

/*------------LIGHT PAGES----------DARK FONTS----------------------*/
/*p {
    color: $darkPhtaloGreen;
}*/

/*------------DARK PAGES----------LIGHT FONTS----------------------*/
/*
.dark p {
    color: $secondYellow;
}
*/


/*
div {
    background-color: gray;
}
*/


/*-------------CLASS SELECTORS----------------*/
/*--------------------BACKGROUND COLOR FOR EACH PAGE----------------------*/
.home {
    background-color: $skinPink;
}
.about{
    background-color: $orange;
}
.contact {
    background-color: $offWhite;
}
.artpage {
    background-color: $mainDarkViolet ;
}
.codepage.dark {
    background-color: $darkPhtaloGreen;
}
/*-------------------------------------------------------------------------*/


.headingart {
    color: $secondCoral;
}

/* komt van de index-pagina*/
.main-container {
    background-color: $mainPetrolBlue;
    margin: 50px;
    padding: 20px;
}



/*-------------ID SELECTORS----------------*/


